.leftBar_main {
  min-width: 20%;
  min-height: 100vh;
  background: #f8f5f4;
  padding-top: 20px;
}

.leftBar_main h4 {
  padding-left: 10px;
  color: #2f223d;
  margin-bottom: 60px;
}

.leftBar_icon,
.left_addIcons {
  margin-right: 20px;
  color: #2f223d;
}

.leftBar_contact,
.leftBar_createCont {
  text-decoration: none;
  color: #2f223d;
  width: 100%;
  cursor: pointer;
}

.left_content_section,
.left_create_section {
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: 50px;
}

#active_menu {
  background: rgba(44, 142, 136, 0.2);
}
