.leftBar_main {
  min-width: 20%;
  min-height: 120vh;
  background: #f8f5f4;
  padding-top: 20px;
  position: relative;
  /* overflow-x: hidden; */
}

.leftBar_main h4 {
  padding-left: 10px;
  color: #2f223d;
  margin-bottom: 20px;
}

.added_name {
  margin-bottom: 20px;
  padding-left: 10px;
}

.leftBar_icon,
.left_addIcons {
  margin-right: 20px;
  color: #2f223d;
}

.leftBar_contact,
.leftBar_createCont {
  text-decoration: none;
  color: #2f223d;
  width: 100%;
  cursor: pointer;
}

.left_content_section,
.left_create_section {
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: 50px;
}

.loginSection a {
  text-decoration: none;
  color: #2f223d;
}

#active_menu {
  background: rgba(44, 142, 136, 0.2);
}

.logoMenu_open {
  width: 30px;
  height: 30px;
  display: none;
}

.leftBar_logo {
  position: absolute;
  right: -50px;
}

.loginSection {
  width: 100%;
  cursor: pointer;
  margin-top: 390px;
  margin-left: 20px;
}

.login_row,
.logOut_row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.logo_login,
.logo_logout {
  margin-right: 20px;
}

@media (max-width: 800px) {
  .leftBar_main {
    position: absolute;
    left: -157px;
    z-index: 99;
  }
  .logoMenu_open {
    display: block;
  }

  #moveRight {
    left: -0;
    min-width: 50%;
    transition: 0.5s linear;
  }

  #moveLeft {
    left: -170px;
    transition: 0.5s linear;
  }
}

@media (max-width: 400px) {
  .loginSection {
    margin-top: 280px;
  }
  .section_logo_face {
    width: 150px;
  }

  .welcom_user {
    right: 0;
  }
}

@media (max-width: 320px) {
  .loginSection {
    margin-top: 200px;
  }
}
