.rightBar_main {
  width: 80%;
  padding-top: 10px;
  background: #d9e9e5;
}
.leftBar_user {
  position: relative;
  left: 30px;
  top: 10px;
}

.leftBar_logo_face {
  width: 220px;
  display: flex;
}

.left_logo_face {
  padding: 10px;
  background-color: rgb(230, 120, 59);
  color: white;
  border-radius: 40px;
  margin-right: 20px;
}

.left_login_name {
  font-weight: 700;
}

.cards_context_container {
  width: 100%;
}

.rightBar_topDetails {
  width: 92%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.rightBar_main h4 {
  padding-left: 40px;
  color: #2f223d;
}

.right_total {
  padding-right: 40px;
}

.card_row {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.mask {
  background-color: white;
  opacity: 0.5 !important ;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 55;
  width: 100%;
  min-height: 200%;
  margin-top: -30px;
}

.rightBar_input_section {
  width: 100%;
  display: flex;
  align-items: center;
}
.rightInput {
  padding: 10px;
  outline: none;
  width: 260px;
  border-radius: 4px;
  border: none;
}

.rightBar_close {
  position: relative;
  bottom: 0;
  left: -24px;
  opacity: 0.7 !important;
  cursor: pointer;
}

.right_logo_search {
  position: relative;
  left: 45px;
  opacity: 0.3 !important;
}

/* Media */

@media (max-width: 800px) {
  .right_total {
    display: none;
  }

  .rightBar_topDetails {
    width: 94%;
    margin-bottom: 20px;
  }
  .rightBar_main {
    width: 100%;
  }

  .rightInput {
    width: 94%;
  }

  .leftBar_user {
    left: 71px;
  }
}

@media (max-width: 600px) {
  .rightBar_topDetails {
    width: 65%;
  }
}

@media (max-width: 500px) {
  .right_total {
    display: none;
  }
}

@media (max-width: 375px) {
  .card_row {
    width: 80%;
  }
  .rightBar_topDetails {
    width: 75%;
  }
}

@media (max-width: 320px) {
}
